{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}

<style>
    body{
        margin: 7% 20%;
      }
      .content {
        flex: 1;
        align-items: center;
      }
      .button {
        cursor: pointer;
        box-shadow: #3f3f3f 10px 10px 25px;
        flex: 1;
        flex-direction: column;
        align-self: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        background-color: #060607;
        border-radius: 3em;
        font-family: "Lora";
        font-size: 1.6em;
        font-weight: 700;
        margin: auto;
        color: #ffffff;
      }
      
      .logo-container {
        display: flex;
        flex-direction: row;
      }
      .logo {
        font-family: "Lobster";
        font-size: 30px;
        font-weight: 600;
      }
      .mail {
        font-family: "Roboto";
        font-size: 30px;
        font-weight: 600;
        margin-left: 2px;
        margin-top: 0.7em;
      } 
    </style>
    
    <div class="logo-container">
      <h1 class="logo">kelodraken</h1>
      <h1 class="mail">Mail</h1>
    </div>
    

<h1>{% trans "Login Cancelled" %}</h1>

{% url 'account_login' as login_url %}

<p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>

{% endblock %}
