{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<style>
body{
    margin: 7% 20%;
  }
  .content {
    flex: 1;
    align-items: center;
  }
  .button {
    cursor: pointer;
    box-shadow: #3f3f3f 10px 10px 25px;
    flex: 1;
    flex-direction: column;
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: #060607;
    border-radius: 3em;
    font-family: "Lora";
    font-size: 1.6em;
    font-weight: 700;
    margin: auto;
    color: #ffffff;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
  }
  .logo {
    font-family: "Lobster";
    font-size: 30px;
    font-weight: 600;
  }
  .mail {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 600;
    margin-left: 2px;
    margin-top: 0.7em;
  } 
</style>

<div class="logo-container">
  <h1 class="logo">kelodraken</h1>
  <h1 class="mail">Mail</h1>
</div>

    <h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
